%h1 About
%p LoopLocal was built with the specific aim to support the facilitation of IS in countries with geographically distributed industry.  To achieve this aim three objectives were set as desired functions of the tool.

%ol
  %li The identification of regions prone to new industrial symbiosis activities 
  %li Enable the marketing of potential exchanges to key actors
  %li Assist facilitators to assess the various strategies and consequential (social) methodologies suitable for further IS development in specific prioritized regions.

%h2 Three components to organization
%ul
  %li Research and data collection
  %li Software development and data visualization
  %li Coordination efforts (workshops etc)
