<div id="heatmapArea">
      
      </div>
      <div id="configArea">
        <h2>Sidenotes</h2>
        This is a demonstration of a canvas heatmap gmaps overlay<br /><br />
        <strong>Note: this is an early release of the heatmap layer. Please feel free to <a href="https://github.com/pa7/heatmap.js" target="_blank">contribute patches</a>. (e.g: correct datapoint pixels after dragrelease (in draw))</strong>
        <div id="tog" class="btn">Toggle HeatmapOverlay</div>
        <div id="gen" class="btn">Add 5 random lat/lng coordinates</div>
      </div>
      
<%= javascript_include_tag 'heatmap' %>
<%= javascript_include_tag 'heatmap-gmaps' %>
<%= javascript_include_tag 'heatmap-alchemist' %>
