<h1><%=@title %></h1>
<script type="text/javascript">
  var coordinates = {
    data: <%= raw @json %>
  };
  var rawBounds = <%= raw @bounds %>;
  var bounds = new google.maps.LatLngBounds(new google.maps.LatLng(rawBounds.south, rawBounds.west), 
                                          new google.maps.LatLng(rawBounds.north, rawBounds.east));
</script>
