// Place all the styles related to the municipalities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.map_container {
  float: left;
}
